/* 변수선언하기 */
:root {
    --main-color: #05183B;
}


header {
    /* 헤더 높이를 80px설정 */
    height: 80px;
    background: #fff;
    color: #555;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);

}

.inner {
    max-width: 1560px;
    /* 로고,gnb 가운데로 정렬하기 위해 높이 100%*/
    height: 100%;
    margin: 0 auto;
    /* background: rgba(255, 0, 0, 0.3); */
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
}

.logo img {
    width: 100%;
}

.main-menu {
    display: flex;
    gap: 300px;

}

.main-menu-list {
    display: flex;
    text-align: center;
    gap: 96px;
    font-size: 18px;
}

.gnb>.log{
    display:flex;
    gap:10px;
}
.gnb>.log li{
    padding-left:10px;
    position: relative;
}

.gnb>.log li:last-child:after{
    content: "";
    width:1px;
    height:15px;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    background-color:#ccc;
}

.main-menu .search {
    display: flex;
    align-items: center;
    /* 세로 가운데 정렬 */
    gap: 10px;
    /* 간격 조절 */
}

.gnb {
    display: flex;
    gap: 40px;
    font-size:16px;
}

.search input {
    height: 30px;
    padding: 5px 10px;
}

.search a img {
    width: 24px;
    height: 24px;
    line-height: center;
}

.log {
    display: flex;
    align-items: center;
}

.lage {
    display: flex;
    align-items: center;
}

main {
    height: 700px;
    background-color: rgb(248, 237, 212);
}



/* footer 공통 */
footer {
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  /* line-height  줄간격 */
  line-height: 2.0;
}

footer .inner {
  max-width: 1560px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}


.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

/* 사이트맵 */
.site-map {
    max-width: 1000px; 
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.site-map li strong {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
}

.site-map .depth {
    width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.site-map .depth li a {
  color: #ccc;
  font-size: 14px;
  transition: color 0.2s;
}


/* 고객센터 박스 */
.footer-top .cus-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    color: #fff;
}

/* 고객센터 타이틀 */
.footer-top .cus-info strong {
    font-size: 14px;
    font-weight: 500;
    color: #ccc;   /* 연한 회색 */
    margin-bottom: 5px;
}

/* 대표 전화번호 */
.footer-top .cus-info p:first-of-type {
    font-size: 28px;
    font-weight: 700;
    margin: 5px 0;
    color: #fff;
}

/* 영업시간 */
.footer-top .cus-info p:nth-of-type(2) {
    font-size: 13px;
    color: #ccc;
    display: flex;
    gap: 6px;
}

/* 해외연락 */
.footer-top .cus-info span:last-of-type {
    font-size: 13px;
    color: #ccc;
    margin-top: 3px;
}

/* 고객문의 버튼 */
.footer-top .cus-info a {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 14px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    transition: all 0.3s;
}

/* footer-bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.logo-bottom img {
  width: 120px;
  opacity: 0.8;
}